h1 {
	margin: 0;
	font-size: 80px;
	padding: 30px;
}

p {
	font-size: 20px;
	padding: 20px 40px;
}


.u-background-red { background-color: #ed2891; }
.u-background-blue { background-color:  #4bc1be; }
.u-background-yellow { background-color: #ecea5c; }

.section {
	position: absolute;
	top: 0;
	left: 0;

	height: 100vh;
	width: 100%;
}

.section-first {
	z-index: 150;
}

.section-second {
	z-index: 100;
}

.section-third {
	z-index: 50;
}

.footer {
	display: none;
	
	z-index: 0;
}